name: Release

on: 
  push:
    tags:
    - 'v*.*.*'
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, aarch64-unknown-linux-gnu]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags -f

      - name: Read release tag
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install prerequisites
        run: |
          cargo install cross --git https://github.com/cross-rs/cross || true
          sudo apt update
          sudo apt install -y \
            ffmpeg \
            libavcodec-dev \
            libavformat-dev \
            libavutil-dev \
            libswresample-dev \
            libswscale-dev \
            pkg-config

      - name: Build release
        run: cross build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        working-directory: ./target
        run: |
          mkdir -p "/tmp/artifacts"
          tar cvzf "/tmp/artifacts/audio-converter-$RELEASE_TAG-${{ matrix.target }}.tar.gz" \
              -C "./${{ matrix.target }}/release" "audio-converter" "man" "completions"

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          artifacts: /tmp/artifacts/*

  build-macos:
    runs-on: macos-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [x86_64-apple-darwin, aarch64-apple-darwin]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags -f

      - name: Read release tag
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install prerequisites
        run: |
          rustup target add ${{ matrix.target }}
          brew update
          brew install ffmpeg pkg-config

      - name: Build release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        working-directory: ./target
        run: |
          mkdir -p "/tmp/artifacts"
          tar cvzf "/tmp/artifacts/audio-converter-$RELEASE_TAG-${{ matrix.target }}.tar.gz" \
              -C "./${{ matrix.target }}/release" "audio-converter" "man" "completions"

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          artifacts: /tmp/artifacts/*

  build-windows:
    runs-on: windows-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags -f

      - name: Read release tag
        shell: bash
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install prerequisites
        shell: pwsh
        run: |
          rustup target add ${{ matrix.target }}
          git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
          C:\vcpkg\bootstrap-vcpkg.bat
          C:\vcpkg\vcpkg install ffmpeg:x64-windows
          C:\vcpkg\vcpkg integrate install

      - name: Build release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        if: runner.os == 'Windows'
        shell: pwsh
        working-directory: ./target
        run: |
          $outDir = "C:\tmp\artifacts"
          if (-Not (Test-Path $outDir)) { New-Item -ItemType Directory -Path $outDir }

          $zipFile = "$outDir\audio-converter-$env:RELEASE_TAG-${{ matrix.target }}.zip"
          Compress-Archive -Path "./${{ matrix.target }}/release/audio-converter.exe","./man","./completions" -DestinationPath $zipFile -Force

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          artifacts: C:/tmp/artifacts/*
