name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        ffmpeg: [6, 8]
        target: [x86_64-unknown-linux-gnu]
    container:
      image: ${{ matrix.ffmpeg == '8' && 'debian:unstable' || '' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install prerequisites
        run: |
          if [ "${{ matrix.ffmpeg }}" == "6" ]; then
          sudo apt update
          sudo apt install -y \
            ffmpeg \
            libavcodec-dev \
            libavformat-dev \
            libavutil-dev \
            libavfilter-dev \
            libavdevice-dev \
            libswresample-dev \
            libswscale-dev \
            pkg-config
          elif [ "${{ matrix.ffmpeg }}" = "8" ]; then
            apt-get update
            apt-get install -y \
              ffmpeg libavcodec-dev libavdevice-dev libavfilter-dev \
              libavformat-dev libavutil-dev libswresample-dev libswscale-dev \
              pkg-config build-essential clang rustc cargo git
          fi

      - name: Read release tag
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Build release
        run: |
          cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        run: |
          mkdir -p "/tmp/artifacts"
          tar cvzf "/tmp/artifacts/audio-converter-$RELEASE_TAG-ffmpeg${{ matrix.ffmpeg }}-${{ matrix.target }}.tar.gz" \
              -C "./target/${{ matrix.target }}/release" "audio-converter" \
              -C "$(pwd)" "LICENSE.txt" "LICENSE.LGPL.txt"

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: /tmp/artifacts/*

  build-macos:
    runs-on: macos-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [aarch64-apple-darwin]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Read release tag
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install prerequisites
        run: |
          rustup target add ${{ matrix.target }}
          brew install ffmpeg pkg-config

      - name: Set PKG_CONFIG_PATH
        run: |
          echo "PKG_CONFIG_PATH=$(brew --prefix ffmpeg)/lib/pkgconfig" >> $GITHUB_ENV

      - name: Build release
        run: |
          cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        run: |
          mkdir -p "/tmp/artifacts"
          tar cvzf "/tmp/artifacts/audio-converter-$RELEASE_TAG-${{ matrix.target }}.tar.gz" \
              -C "./target/${{ matrix.target }}/release" "audio-converter" \
              -C "$(pwd)" "LICENSE.txt" "LICENSE.LGPL.txt"

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: /tmp/artifacts/*

  build-windows:
    runs-on: windows-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Read release tag
        shell: bash
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install Rust target
        run: |
          rustup target add ${{ matrix.target }}

      - name: Download prebuilt FFmpeg libraries
        shell: pwsh
        run: |
          curl -L -o ffmpeg.zip https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-n8.0-latest-win64-lgpl-shared-8.0.zip
          Expand-Archive -Path ffmpeg.zip -DestinationPath temp_extract

          New-Item -ItemType Directory -Path ${{ github.workspace }}\ffmpeg -Force

          Move-Item -Path temp_extract\ffmpeg-n8.0-latest-win64-lgpl-shared-8.0\* -Destination ${{ github.workspace }}\ffmpeg
          Move-Item -Path temp_extract\ffmpeg-n8.0-latest-win64-lgpl-shared-8.0\.* -Destination ${{ github.workspace }}\ffmpeg -ErrorAction SilentlyContinue

          Remove-Item -Recurse -Force temp_extract

      - name: Build release
        env:
          FFMPEG_DIR: ${{ github.workspace }}\ffmpeg\
          FFMPEG_INCLUDE_DIR: ${{ github.workspace }}\ffmpeg\include
          FFMPEG_LIB_DIR: ${{ github.workspace }}\ffmpeg\lib
        run: cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        shell: pwsh
        working-directory: ./target
        run: |
          $outDir = "C:\tmp\artifacts"
          if (-Not (Test-Path $outDir)) { New-Item -ItemType Directory -Path $outDir }

          $zipFile = "$outDir\audio-converter-$env:RELEASE_TAG-${{ matrix.target }}.zip"

          $ffmpegDlls = Get-ChildItem "${{ github.workspace }}\ffmpeg\bin" -Filter "*.dll" | Select-Object -ExpandProperty FullName
          $licenseFiles = @("../LICENSE.txt", "../LICENSE.LGPL.txt")
          $files = @("./${{ matrix.target }}/release/audio-converter.exe") + $ffmpegDlls + $licenseFiles

          Compress-Archive -Path $files -DestinationPath $zipFile -Force

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: C:/tmp/artifacts/*
