name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags -f

      - name: Read release tag
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install -y \
            ffmpeg \
            libavcodec-dev \
            libavformat-dev \
            libavutil-dev \
            libavfilter-dev \
            libavdevice-dev \
            libswresample-dev \
            libswscale-dev \
            pkg-config

      - name: Build release
        run: |
          cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        working-directory: ./target
        run: |
          mkdir -p "/tmp/artifacts"
          tar cvzf "/tmp/artifacts/audio-converter-$RELEASE_TAG-${{ matrix.target }}.tar.gz" \
              -C "./${{ matrix.target }}/release" "audio-converter" "../LICENSE.txt" "../LICENSE.LGPL.txt"

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: /tmp/artifacts/*

  build-macos:
    runs-on: macos-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [aarch64-apple-darwin]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags -f

      - name: Read release tag
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install prerequisites
        run: |
          rustup target add ${{ matrix.target }}
          brew install ffmpeg pkg-config

      - name: Set PKG_CONFIG_PATH
        if: runner.os == 'macOS'
        run: |
          echo "PKG_CONFIG_PATH=$(brew --prefix ffmpeg)/lib/pkgconfig" >> $GITHUB_ENV

      - name: Build release
        run: |
          cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        working-directory: ./target
        run: |
          mkdir -p "/tmp/artifacts"
          tar cvzf "/tmp/artifacts/audio-converter-$RELEASE_TAG-${{ matrix.target }}.tar.gz" \
              -C "./${{ matrix.target }}/release" "audio-converter" "../LICENSE.txt" "../LICENSE.LGPL.txt"

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: /tmp/artifacts/*

  build-windows:
    runs-on: windows-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags -f

      - name: Read release tag
        shell: bash
        run: |
          if [ "$GITHUB_EVENT_NAME" == 'workflow_dispatch' ]; then
              echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          else
              echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          fi

      - name: Install Rust target
        shell: pwsh
        run: |
          rustup target add ${{ matrix.target }}

      - name: Cache prebuilt FFmpeg
        uses: actions/cache@v3
        with:
          path: C:\FFmpeg
          key: ffmpeg-msvc-7.1-lgpl-amd64-shared

      - name: Download prebuilt FFmpeg libraries
        if: steps.cache.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          curl -L -o ffmpeg.zip https://github.com/System233/ffmpeg-msvc-prebuilt/releases/download/7.1/ffmpeg-7.1-lgpl-amd64-shared.zip
          Expand-Archive -Path ffmpeg.zip -DestinationPath C:\FFmpeg

      - name: Build release
        shell: pwsh
        env:
          FFMPEG_DIR: C:\FFmpeg
          FFMPEG_INCLUDE_DIR: C:\FFmpeg\include
          FFMPEG_LIB_DIR: C:\FFmpeg\bin
          PATH: C:\FFmpeg\bin;${{ env.PATH }}
        run: cargo build --release --target ${{ matrix.target }}

      - name: Copy artifacts
        if: runner.os == 'Windows'
        shell: pwsh
        working-directory: ./target
        run: |
          $outDir = "C:\tmp\artifacts"
          if (-Not (Test-Path $outDir)) { New-Item -ItemType Directory -Path $outDir }

          $zipFile = "$outDir\audio-converter-$env:RELEASE_TAG-${{ matrix.target }}.zip"

          $ffmpegDlls = Get-ChildItem "C:\FFmpeg\bin" -Filter "*.dll" | Select-Object -ExpandProperty FullName
          $licenseFiles = @("../LICENSE.txt", "../LICENSE.LGPL.txt")
          $files = @("./${{ matrix.target }}/release/audio-converter.exe") + $ffmpegDlls + $licenseFiles

          Compress-Archive -Path $files -DestinationPath $zipFile -Force

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: C:/tmp/artifacts/*
